/* ============================================= */
/*                  Mixins                       */
/* ============================================= */


// navigation
@mixin flex-col {
    display: flex;
    flex-direction: column;
}


// images
@mixin disp {
    display: block;
    margin-left: auto;
    margin-right: auto;
}