/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: $max;
    color: $white;
    border: none;
    padding: $gutter 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s ease-in;
  }
  
 
  .default {
    background-color: $cyan;
    &:hover {
      background-color: lighten($btn-d, 15%);
    }
  }
  
  .error {
    background-color: #e4757a;
    &:hover {
      background-color: lighten($btn-e, 15%);
    }
  }
  
  .info {
    background-color: #927bc1;
    &:hover {
      background-color: lighten($btn-i, 15%);
    }
  }
  
  .success {
    background-color: #63cc82;
    &:hover {
      background-color: lighten($btn-s, 15%);
    }
  }
  
  .warning {
    background-color: #fd7856;
    &:hover {
      background-color: lighten($btn-w, 15%);
    }
  } 