/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 $gutter;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em $gutter;
  }
  
  [class^=col] {
    margin-top: $gutter;
    flex-basis: $max;
    min-height: 25px;
    padding: $gutter;
    border-radius: 5px;
  }

  @for $i from 1 through 12 {
    .theme.col-#{$i} {
      background-color: map-get($col-color, $i);
    }
  }
  
  .card {
    flex-basis: 100%;
  }
  