/* ============================================= */
/*                   Images                      */
/* ============================================= */

img {
  @include disp;
  max-width: $max; 
  margin-top: 10px;
  &.img-avatar {
    max-height: $max;
  }
  &.img-frame {
    padding: 13px;
    border: 1px solid $color-border; 
  }
}



