/* ============================================= */
/*                   Images                      */
/* ============================================= */

.img {
  @include disp;
  max-width: $max; 
  margin-top: 10px;
  &-avatar {
    max-height: $max;
  }
  &-frame {
    padding: 13px;
    border: 1px solid $color-border; 
  }
}
  