/* ============================================= */
/*              Media Queries                    */
/* ============================================= */


//768px 
@media (min-width: $break-w) {

    .nav {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      &-link {
        flex-basis: 100px;
      }
    }

    .container {
      @include disp;
      max-width: 1400px;
    }
    
    .centered {
      @include disp;
    }
    
    .row {
      flex-direction: row;
    }
    
    [class^=col] {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
    }
    
    [class^=col] + [class^=col] {
      margin-left: $gutter;
    }
    
    @for $i from 1 through 12 {
      .col-#{$i}{
          flex-basis: calc-percentage($i);
      }
    }
    
    .btn {
      padding: $gutter 30px;
    }
    
    .btn + .btn {
      margin-left: $gutter;
    }
    
    .logo {
      margin-left: initial;
      margin-right: initial;
    }
    
    
}